

<div>

    @*fix so that name, type etc are in the same order*@
    <form enctype="multipart/form-data" asp-controller="Post" asp-action="NewPost" method="post" id="PostingForm">

        <table class="PostForm">
            <tr class="SubjectSubmitRow">
                <td class="LabelCell">Subject</td>
                <td id="SubjectCell"><input name="Subject" type="text" maxlength="80" placeholder="Subject" style="width: 95%"/></td>
                <td id="SubmitButtonCell"><input type="Submit" id="SubmitForm" value="Submit" style="width: 100%"/></td>
            </tr>
            <tr>
                <td class="LabelCell">Sage</td>
                <td>
                    @*<label for="SageBox" id="SageLabel">Sage</label>*@
                    <input type="checkbox" id="SageBox" name="SageBox"/>
                </td>
            </tr>
            <tr>
                <td class="LabelCell">Comment</td>
                <td colspan="2">
                <textarea form="PostingForm" name="PostText" maxlength="5000" placeholder="Enter text here..."></textarea>
                </td>
            </tr>
            <tr>
                <td class="LabelCell">Files</td>
                <td colspan="2">
                    <label class="FileInput">
                        <input name="file" type="file" id="FileSelector"/>
                        Select File(s)
                    </label>
                    </td>
            </tr>

            <input name="current_url" type="hidden"  value="@Context.Request.Path" />

        </table>

    </form>

</div>

<div class="FilePreviews">



    <div id="FilePreview1"></div>
    <div id="FilePreview2"></div>
    <div id="FilePreview3"></div>
    <div id="FilePreview4"></div>



</div>

<script>

document.getElementById("FileSelector").addEventListener("change", onFileSelected, false);

var tmpElement;
var file, file_ext, file_path, file_type, file_name;
var fileCounter;

function show_info_popup() {
    alert("File is selected... " + "\n name : " + file_name + "\n type : " + file_type + "\n ext : " + file_ext);
}

function onFileSelected(input) {
    
}

</script>