

<div>

    @*fix so that name, type etc are in the same order*@
    <form enctype="multipart/form-data" asp-controller="Post" asp-action="NewPost" method="post" id="PostingForm">

        <table class="PostForm">
            <tr class="SubjectSubmitRow">
                <td class="LabelCell">Subject</td>
                <td id="SubjectCell"><input name="Subject" type="text" maxlength="80" placeholder="Subject" style="width: 95%"/></td>
                <td id="SubmitButtonCell"><input type="Submit" id="SubmitForm" value="Submit" style="width: 100%"/></td>
            </tr>
            <tr>
                <td class="LabelCell">Sage</td>
                <td>
                    @*<label for="SageBox" id="SageLabel">Sage</label>*@
                    <input type="checkbox" id="SageBox" name="SageBox"/>
                </td>
            </tr>
            <tr>
                <td class="LabelCell">Comment</td>
                <td colspan="2">
                <textarea form="PostingForm" name="PostText" maxlength="5000" placeholder="Enter text here..."></textarea>
                </td>
            </tr>
            <tr>
                <td class="LabelCell">Files</td>
                <td colspan="2">
                    <label class="FileInput">
                        <input name="file" type="file" id="FileSelector"/>
                        Select File(s)
                    </label>
                    <div id="FilePreviews">
                    </div>
                </td>
            </tr>

            <input name="current_url" type="hidden"  value="@Context.Request.Path" />

        </table>

    </form>




</div>



<script>
var counter = 0;
var filesArray = new Array();

document.getElementById('FileSelector').onchange = function () {

	if (counter === 4) {
  	alert("Can't post more than 4 files.");
    setInputFileList();
    console.log(this.files);
    return;
  }
	

  let src = URL.createObjectURL(this.files[0]);
  filesArray.push(this.files[0]);
  
  let child = document.createElement("div");
  child.id = "previews" + counter;
  child.style.display = "flex";
  child.style.flexDirection = "column";



  document.getElementById('FilePreviews').appendChild(child);

  let childspan = document.createElement("span");

  child.appendChild(childspan);
  
  let button = document.createElement("button");
  button.type = "button";
  button.textContent = "X";
  button.classList.add("removeFileButton");
  button.id = "button" + counter;
  button.setAttribute('onclick', 'removeFile(event)');
  childspan.append(button);
  
  childspan.append(this.files[0].name);
  
  let childimg = document.createElement("img");

  childimg.style.maxWidth = 200 + "px";
  childimg.style.maxHeight = 200 + "px";
  childimg.style.objectFit = "contain";
  
  child.appendChild(childimg);


  childimg.src = src;
  
  counter++;
  console.log(filesArray);
  
  console.log("filesarray length:");
  console.log(filesArray.length);
}

function setInputFileList() {
	let fileInput = document.getElementById('FileSelector');
  
  if (filesArray.length === 0) {
  	console.log("here");
  	fileInput.value = null;

  } else {
    console.log("here2");
    let dT = new DataTransfer();
    for (const file of filesArray)
    	dT.items.add(file);
    //dT.items.add(...filesArray);
    fileInput.value = null;
    fileInput.files = dT.files;
  }
  console.log("filesarray length:");
  console.log(filesArray.length);
  console.log(fileInput.files);
}

function removeFile(event) {
    //var target = event.target;
    //console.log(target.id);
    let index = event.target.parentElement.id.charAt(event.target.id.length - 1);
  

    //change this to just the splice line
    if (filesArray.length === 1) {
    filesArray.length = 0;
    } else {
    filesArray.splice(parseInt(index), 1);
    }
  
    event.target.parentElement.parentElement.remove();

  
    //decrement id's of subsequent divs, buttons
    for (let i = index + 1; i < 4; i++) {
    let ele = document.getElementById("previews" + i);
    let ele2 = document.getElementById("button" + i);
    if (ele) {
        ele.id = "previews" + (i - 1);
        ele2.id = "button" + (i - 1);
    }
    }
  
    counter--;
    console.log(filesArray);
    setInputFileList();
}

</script>