

<div>

    @*fix so that name, type etc are in the same order*@
    <form enctype="multipart/form-data" asp-controller="Post" asp-action="NewPost" method="post" id="PostingForm">

        <table class="PostForm">
            <tr class="SubjectSubmitRow">
                <td class="LabelCell">Subject</td>
                <td id="SubjectCell"><input name="Subject" type="text" maxlength="80" placeholder="Subject" style="width: 95%"/></td>
                <td id="SubmitButtonCell"><input type="Submit" id="SubmitForm" value="Submit" style="width: 100%" onclick="setInputFileList();"/></td>
            </tr>
            <tr>
                <td class="LabelCell">Sage</td>
                <td>
                    @*<label for="SageBox" id="SageLabel">Sage</label>*@
                    <input type="checkbox" id="SageBox" name="SageBox"/>
                </td>
            </tr>
            <tr>
                <td class="LabelCell">Comment</td>
                <td colspan="2">
                <textarea form="PostingForm" name="PostText" maxlength="5000" placeholder="Enter text here..."></textarea>
                </td>
            </tr>
            <tr>
                <td class="LabelCell">Files</td>
                <td colspan="2">
                    <label class="FileInput">
                        <input name="files" type="file" id="FileSelector" multiple/>
                        Select File(s)
                    </label>
                    <div id="FilePreviews">
                    </div>
                </td>
            </tr>

            <input name="current_url" type="hidden"  value="@Context.Request.Path" />

        </table>

    </form>




</div>



<script>


</script>