@using MvcForum.ViewModels;
@using SixLabors.ImageSharp;
@using System.Web;

@model ThreadViewModel;

@*
//https://stackoverflow.com/questions/51971984/how-do-i-get-the-web-root-path-and-the-content-root-path-in-asp-net-core
//get webrootpath from here
@Context.Request.PathBase
*@

<div class="Thread">

@{
    foreach (var Post in Model.Thread)
    {
        Console.WriteLine(Post.Text);

        PostViewModel PostView = new PostViewModel(Post, Model.WebRootPath);

        <partial name ="_PostPartial" model = "PostView" />
    }
}

</div>