@using MvcForum.ViewModels;
@using SixLabors.ImageSharp;
@using System.Web;

@model ThreadViewModel;

@*
//https://stackoverflow.com/questions/51971984/how-do-i-get-the-web-root-path-and-the-content-root-path-in-asp-net-core
//get webrootpath from here
@Context.Request.PathBase
*@

<div class="Thread">

@{
    foreach (var Post in Model.Thread)
    {


        PostViewModel PostView = new PostViewModel(Post, Model.WebRootPath, Model.IndexView);

            <partial name ="_PostPartial" model = "PostView" />

            if (Post.IsOP && Model.OmittedPosts > 0)
            {
                <span class="OmissionInfo">@Model.OmittedPosts posts omitted.</span>
            }
        }
}

</div>