@using MvcForum.ViewModels
@using SixLabors.ImageSharp
@using MvcForum.Models
@using System.Web;

@model ForumPageViewModel

@{
    ViewData["Title"] = "/int/";
    Layout = null;
    
}

@*
@section styles{
    <link rel="Stylesheet" href="@Href("~/css/BoardIndex.css")" />
}
*@


<head>
    <title>/int/</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" href="@Href("~/css/BoardIndex.css")" />
</head>

<body>

<div class="BoardName">
    <h1>/int/</h1>
</div>




<p id="demo"></p>



<partial name="~/Views/Shared/_PostingForm.cshtml" />


<div class = 'Threads'>
@foreach (var thread in Model.Threads){

            ThreadViewModel ThreadView = new ThreadViewModel(Model.WebRootPath)
                {
                    Thread = thread
                };
            <partial name ="_ThreadPartial" model = "ThreadView" />
            <hr />
}
</div>


</body>





<script>

    function resizeImage(event) { 


        var image = event.target;
        
        var size = "thumb";

        if (image.getAttribute("data-expanded") === "0") {
            size = "full";
        }

        var request;
        if (window.XMLHttpRequest) {
            //New browsers
            request = new XMLHttpRequest();
        }
        else if(window.ActiveXObject) {
            //Old IE browsers
            request = new ActiveXObject("Microsoft.XMLHTTP");
        }

        var value = {FileSize: size, FileName: image.id};


        console.log(value);


        if (request != null) {
            var url = "/LoadImage";
            request.open("POST", url, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.onreadystatechange = function() {
                if (request.readyState == 4 && request.status == 200) {
                    var response = JSON.parse(request.responseText);

                    image.src = '/images/' + response;

                    if (image.getAttribute("data-expanded") === "0") {
                        image.dataset.expanded = "1";
                    } else {
                        image.dataset.expanded = "0";
                    }
                }
            };
            request.send(JSON.stringify(value));
        }



    }
</script>

@*<script src="~/js/site.js" asp-append-version="true"></script>*@