<!DOCTYPE html>

@using MvcForum.ViewModels;
@using SixLabors.ImageSharp;
@using MvcForum.Models;
@using System.Web;



@model ThreadViewModel;


@{
    ViewData["Title"] = "/int/";
    Layout = null;
}


<head>
    <title>/int/</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" href="@Href("~/css/BoardIndex.css")" />
</head>

<body>


        <div class="BoardName">
        <h1>/int/</h1>
        </div>



    <partial name="~/Views/Shared/_PostingForm.cshtml" />


    <div class="Thread">

        @{
            foreach (Post post in Model.Thread)
            {
                PostViewModel postView = new PostViewModel(post, Model.WebRootPath, false);

                <partial name="~/Views/Shared/_PostPartial.cshtml" model="postView" />
            }
        }


    </div>


</body>



<script src="~/js/site.js" asp-append-version="true"></script>

