* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size:16px;
/*  width: 100vw;
  max-width: 100vw;*/
}

.PostForm {
    margin: auto;
    table-layout: fixed;
}

.LabelCell {
    text-align: right;
    background-color: #6a81eb;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    width: 20px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* 1 */
    clip-path: inset(50%);
    border: 0;
}

label {
    border: 1px dashed;
    display: flex;
    width: 100%;
    height: 2em;
    align-items: center;
    justify-content: center;
    background-color: #a6b0b3;
}

textarea {
    width: 100%;
    height: 4em;
}

/*
.Label {
    display: inline-block;
    width: 80px;
    text-align: right;
    
}
    */

#SubmitButtonCell {
    width: 30%;
}

#SubjectCell {
    /*width: 95%;*/
}

input[name="Subject"] {
    width: 100%;
}

input[type="Submit"] {
    width: 100%;
}

textarea[name="PostText"] {
    width: 100%;
    height: 6em;
}


.BoardName {
    text-align: center;
}

.Threads {
    display: grid;
    clear: both;
}

.ReplyPost {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 10px;


  border-style: solid;
}

.ImageReplyPost {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 10px;


  border-style: solid;
}

.ImageReplyPostExpanded {
  width: max-content;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-style: solid;
}

.ReplyImageTextContainerExpanded {
  display: flex;
  flex-direction: column;
}

.ReplyImageTextContainer {
  display: inline;
  /*width: 90%;*/
  /*flex-direction: row;*/
  /*float: left;*/
}

.ReplyImage {
  float: left;
}



.OpPost {

}

.OpPostExpanded {

}

div.OpPic {
  display: block;
  float: left;
  width: max-content;
}

div.OpPicExpanded {
  display: block;
  float: left;
}


.Thread {

  display: block;
}

.OpPost {

}

.PostText {
    max-width: 100vw;
    word-break: break-word;

}

.PostInfo {

}

.ReplyPost.PostText {

}

.ReplyPost.PostInfo {

}
